/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* font-family: 'Poppins', sans-serif; */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.section-gap {
  padding-top: 60px;
  padding-bottom: 60px;
}
.row-gap {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section__text {
  text-align: center;
}

#carousel {
  padding-bottom: 60px;
}

#carousel img {
  position: relative;
  width: 100%;
  height: 700px;
  border-radius: 5px;
}

.carousel-text {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  z-index: 1;
}

#carousel .carousel-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-item {
  position: relative;
}

/* carosel area end */

/* course area start */

.course__item {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.course__item img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
/* course area end */

/* join area */
.join__area {
  border-radius: 5px;
}
/* join area */

/* footer area */

.footer__area {
  width: 30%;
}

.item__social {
}

.item__social li {
  list-style: none;
  margin: 0 8px;
}

.item__social a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #161616;
  border-radius: 50%;
}

.item__social a i {
  font-size: 18px;
  line-height: 24px;
}

/* footer area */

/* responsive */

@media (max-width: 767px) {
  .section-gap {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .row-gap {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #carousel img {
    height: 500px;
  }
  .carousel-text {
    width: 80%;
  }
  .course__item img {
    width: 100%;
    height: 100%;
  }
  .join__area {
    display: flex;
    flex-direction: row;
  }
  .footer__area {
    width: 70%;
  }
}
